@import url('https://fonts.googleapis.com/css?family=Montserrat');
@import url("https://fonts.googleapis.com/css?family=Luckiest+Guy&display=swap");

/* @font-face {
  font-family: "myFirstFont";
  src: url("./fonts/80.ttf");
} */


* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Luckiest Guy";
  background-color: rgb(255, 170, 206);
  
}
.draggable-elements {
  display: flex;
  margin: 2rem 30rem;
}
.draggable {
  min-width: 100px;
  min-height: 100px;
  max-width: 100px;
  max-height: 100px;
  flex: auto;
  font-size: 4rem;
  margin: 1rem 1rem;
  cursor: move;
  transition: opacity 0.2s;
}

.dragged {
  user-select: none;
  opacity: 0.1;
  cursor: default;
  min-width: 100px;
  min-height: 100px;
  max-width: 100px;
  max-height: 100px;
  flex: auto;
  margin: 1rem 1rem;
  transition: opacity 0.2s;

}

.draggable:hover {
  opacity: 0.5;
}
.droppable-elements{
  display: flex;
  margin: 10rem 30rem;
}
.droppable {
  height: 10rem;
  width: 10rem;
  margin: 10rem auto;
  justify-content: center;
  align-items: center;
  text-align: center;
  transition: border-width 0.2s, transform 0.2s, background-color 0.4s;
}
.droppable span {
  font-size: 1.25rem;
  pointer-events: none;
}
.droppable.droppable-hover {
  border-width: 5px;
  transform: scale(1.5);
}
.droppable.dropped {
  border-style: solid;
  color: #fff;
}
.droppable.dropped span {
  font-size: 0.75rem;
  margin-top: 0.5rem;
}
.droppable.dropped i {
  pointer-events: none;
}


.dragged:hover {
  opacity: 0.1;
}

@media (max-width: 600px) {
  html { font-size: 14px; }
  .draggable-elements { margin: 1.5rem; }
}

/* ------------------------------------------------- */

h1 {
  text-align: center;
  margin: 10px;
  font-size: 40px;
  color: white;
  text-shadow: 0 0.1em 20px black, 0.05em -0.03em 0 black, 0.05em 0.005em 0 black, 0em 0.08em 0 black, 0.05em 0.08em 0 black, 0px -0.03em 0 black, -0.03em -0.03em 0 black, -0.03em 0.08em 0 black, -0.03em 0 0 black;
}


/* -------------------------------------------------- */

.morango {
  background-image: url('./images/metais.png');
  height: 20px;
  width: 20px;
  display: block;
  /* Other styles here */
}