@import url('https://fonts.googleapis.com/css?family=Montserrat');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Montserrat', sans-serif;
  background-color: rgb(255, 255, 255);
}

.draggable-elements {
  display: flex;
  margin: 2rem 30rem;
}
.draggable {
  height: 5rem;
  width: 5rem;
  flex: auto;
  font-size: 4rem;
  margin: 0rem 0.5rem;
  cursor: move;
  transition: opacity 0.2s;
}
.draggable:hover {
  opacity: 0.5;
}

.droppable-elements{
  display: flex;
  margin: 10rem 30rem;
}
.droppable {
  height: 10rem;
  width: 10rem;
  margin: 5rem auto;
  justify-content: center;
  align-items: center;
  text-align: center;
  transition: border-width 0.2s, transform 0.2s, background-color 0.4s;
}
.droppable span {
  font-size: 1.25rem;
  pointer-events: none; /* The element is never the target of pointer events */
}


/* Drag and Drop Related Styling */

.droppable.droppable-hover {
  /* background-color: #bee3f0; */
  border-width: 5px;
  transform: scale(1.5);
}
.droppable.dropped {
  border-style: solid;
  color: #fff;
}
.droppable.dropped span {
  font-size: 0.75rem;
  margin-top: 0.5rem;
}
.droppable.dropped i {
  pointer-events: none;
}
.draggable.dragged {
  user-select: none;
  opacity: 0.1;
  cursor: default;
}
.draggable.dragged:hover {
  opacity: 0.1;
}

@media (max-width: 600px) {
  html { font-size: 14px; }
  .draggable-elements { margin: 1.5rem; }
}

h1{
  font-size: 72px;
  text-align: center;
}

embed{
  background-color: green;
}